# ------------------------------------------------------------
# ملف تجنيب الملفات الكبيرة والسرية لسيرفر ماين كرافت
# ------------------------------------------------------------

# تجاهل ملفات التشغيل الجافا الكبيرة (يتم تحميلها تلقائياً عبر الحاوية)
*.jar
cache/
libraries/
logs/
.git/

# تجاهل مجلدات العالم (لأنها ضخمة جداً وتتغير مع لعبك الخاص)
world/
world_nether/
world_the_end/
